

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    height: 1vh;
    color: #fff;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg,#05073a,#dc0606ca); */
    /* padding: 10px; */
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    justify-content: center;
    align-content: center;
    align-items: center;
    /* max-width: 3000px; */
    width: 800px;
    border-radius: 10px;
    background: linear-gradient(135deg,#DC143C,#fff);
    padding: 20px 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
}
.container .heading{
    font-size: 70px;
    font-weight: bold;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;
    color: black;
    
}
.container .heading::before{
    content: '';
    position: absolute;
    height: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: crimson;
}
.container form .card-details{
    margin-top: 25px;
    display:flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-weight: 500;
    color: black ;
    justify-content:space-between;
}
form .card-details .card-box{
    width: calc(100%/2 - 20px);
    margin-bottom: 15px;
}
.card-details .card-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.card-details .card-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}
.card-details .card-box input:focus,
.card-details .card-box input:valid{
    border-color: #000066;
}
form .circal-form .circal-title{
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid;
}
form .circal-form .category{
    margin-top: 10px;
    margin-bottom: 10px;
}
form .button{
    text-align: center;
}
form .button input{
    padding: 10px 0;
    margin-top: 10px;
    height: 100%;
    width: 50%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg,#cc00cc,#009999);
}
form .button input:hover{
    background:  linear-gradient(-135deg,#cc00cc,#009999);
};
