/* #FAQsBody{
	padding:20px 20px;
	width:100%;
	display:flex;
	justify-content:center;
	
	
}

.FAQsForm{
	padding:20px 20px;
	background-color: rgba(255, 255, 255,0.4);
	font-family:Verdana;
	color:black;
	box-shadow:1px 1px 2px black, 0 0 25px black, 0 0 5px black;
	outline: none;
} */

/* *{
    margin: 0;
    padding: 0px 60px 0px 60px;
    box-sizing: border-box;
} */
fieldset{
	padding:0px 60px 0px 60px;
    text-align: center;
}

legend{
	font-size:22px;
	font-weight:bold;
}

#formStyle1.style2{
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:30px;
}

#formStyle1 label,
#formStyle3 label {
  display: block;
  font-size:16px;
  float:left;
  margin-left:10px;
}

#formStyle4 label{
  float:center;
  display: block;
  font-size:16px;
  margin-left:10px;
  margin-bottom:30px;
}

#formStyle2 label{ 
	 font-family: "Comic Sans MS", cursive, sans-serif;
	 font-weight:bold;
    font-size: 22px;
    line-height: 1.15;
    margin: 0;
	 width:100%;
}
#formStyle6 input[type=text],
#formStyle6 input[type=email],
#formStyle3  input[type= password],
#formStyle1  input[type= password],
#formStyle1  input[type= number],
#formStyle1 input[type=file],
#formStyle1 input[type=number]
#formStyle4 input[type=email],
#formStyle1 input[type=email],
#formStyle1 input[type=month],
#formStyle1 input[type=date],
#formStyle1 input[type=text],
#formStyle1 input[type=tel],
#formStyle3 input[type=text],
#formStyle4 input[type=tel],
#formStyle4 input[type=text],
#formStyle1 select{
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 50px;
}

#formStyle6 input:active[type=text],
#formStyle6 input:active[type=email],
#formStyle3  input:active[type= password],
#formStyle1 input:active[type=file],
#formStyle1 input:active[type=number],
#formStyle1 input:active[type=month],
#formStyle1 input:active[type=text],
#formStyle3 input:active[type=text],
#formStyle4 input:active[type=text],
#formStyle4 input:active[type=text],
#formStyle1 select:active{
    border: 2px solid #808080;
	outline:none;
}

#formStyle3  input[type= radio]{
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  justify-content: space-between;
  margin-left:20px;
  outline:none;
}
#formStyle6 textarea,
#formStyle1 textarea{
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height:80px;
  font-family:Verdana;
  border-radius:50px;
  outline:none;
  resize: vertical;
  
}

#formStyle1 form,
#formStyle2 form,
#formStyle3 form,
#formStyle4 form{
	padding:20px;
	background-color: rgba(255, 255, 255,0.4);
	font-size:14px;
	font-family:Verdana;
	color:black;
	margin:20px;
	box-shadow:1px 1px 2px black, 0 0 25px black, 0 0 5px black;
	outline: none;
	border:none;
	
}
#formStyle6 form{
	font-size:14px;
	font-family:Verdana;
	outline: none;
	border:none;
	padding:20px;
}

#formStyle1 form,
#formStyle4 form{
	width:99%;
}

#formStyle2 form{
	width:95%;
}

#formStyle3 form{
	width:50%;
	align-items: center;
	position:center;

}


.Btn,
.Btn1
{
	padding:20px 30px;
	font-size: 25px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: crimson;
  border: none;
  border-radius: 30px;
  box-shadow: 0 9px #999;
  margin-bottom:30px;
  margin-top:10px;
  margin-left:20px;
	
}

.Btn:active,
.Btn1:active,
.Btn3:active,
.Btn2:active,
.Btn4:active,
.Btn5:active{
	background-color: crimson;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Btn:hover,
.Btn1:hover,
.Btn3:hover,
.Btn2:hover,
.Btn4:hover,
.Btn5:hover{
	background-color: crimson
}
.Btn,
.Btn1{
	float:right;
}

.Btn2{
	float:left;
}
.Btn3{
	margin-bottom:20px;
	
}
.Btn4{
	margin-left:10px;
	
}

