@import url('https://fonts.googleapis.com/css2?family=Koulen&family=M+PLUS+Rounded+1c&family=Pacifico&family=Poppins:wght@400;600&display=swap');
/* styles for whole page */
.bimage{
    background-image: url(../image/W3.jpg);
    background-repeat: no-repeat, repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 270vh;
}

/* Header section styles */
header{
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    background-color: white;
}

header > .front-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100px;
}




header > .front-row >.login-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Koulen', cursive;
    font-size: 1.5em;
    font-size: 1.5em;
    height: 150px;
    width: 400px;
    position: absolute;
    right: 0;
}

header > .nav-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: crimson;
}
/* nav list styles goes here */

header > .nav-section > ul > li{
    float: left;
    list-style: none;
    padding: 5px 40px;
    font-family: 'Koulen', cursive;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 400;
    color:white
}

header > .nav-section > ul > li:hover{
    color: black;
    cursor: pointer;
}
.bookNow{
    float: right;
    list-style: none;
    padding: 5px 0px 0px 80px;
    /* align-items: right; */

}
.nav-new{
    float: right;
}
.btn-packs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.btn-packs > .log > span{
    text-align: center;
    padding:2px 0 0 0;
}

.btn-packs > .log{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 140px;
    height: 40px;
    border: 2px solid crimson;
    letter-spacing: 5px;
    border-radius: 20px;
    margin: 0 10px;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    transition: .5s;
}



.btn-packs > .log>:hover{
    background-color: crimson;
    color: white;
    border-radius: 10px;
    width: 140px;
    height: 60px;
}

.btn-packs > .avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-left: 40px;
    height: 50px;
    width: 50px;
    border: 2px solid crimson;
    border-radius: 50%;
}

.btn-packs > .avatar > p{
    position: absolute;
    display: flex;
    top: 70px;
    font-size: 16px;
    padding: 5px;
    background-color: #2c3e50;
    color: wheat;
    border-radius: 5px;
    visibility: hidden;
    transition: .5s;
    background-color: #eb3b5a; /*new pink color*/
}

.btn-packs > .avatar:hover > p{
    visibility: visible;
    background-color: #d75c60;
}


/*footer editing part*/
.sticky-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 10%;
    width: 100%;
    height: 180px;
    background: linear-gradient(to bottom, #DC143C 0%, #ffffff 100%);
}
.txt-area{
    position: relative;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50px;
    width: 400px;
}

.txt-area .text-1{
    color: rgb(7, 6, 6);
    font-size: 20px;
    font-weight: 800;
    margin: 0 40px;
    transition: .3s;
}

.txt-area .text-1:hover{
    color: #0097e6;
    cursor: pointer;
}

.txt-area  #divider{
    color: rgb(32, 6, 6);
    font-weight: 800;
    font-size: 30px;
}

.social-icons{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    height: 50px;
    width: 400px;
}

.social-icons  > div > i{
    position: relative;
    color: rgb(19, 3, 3);
    font-size: 40px;
    margin: 0 20px;
    transition: .5s ease-in;
}

.social-icons  > .fb > i:hover{
    transform: scale(1.2);
    color: #0652DD;
}

.social-icons  > .twitter > i:hover{
    transform: scale(1.2);
    color: #0097e6;
}

.social-icons  > .insta > i:hover{
    transform: scale(1.2);
    color: #7e3217;
}

.social-icons  > div > i:hover{
    transform: scale(1.2);
    color: #EA2027;
}


  
  .logingbody{
      padding:10px 20px 20px 20px;
      margin-top: 100px;
  
  }
  /*============================================================================*/

h1.reservation{
	color:black;
	font-family:"Arial Black", Gadget, sans-serif;
	/* text-shadow:1px 1px 2px black, 0 0 25px black, 0 0 5px black; */
	font-size:80px;
    margin-top: -10px;
    text-align: center;
}
  /*--------------------------------------------------------------------------------------*/
/*Form*/
fieldset{
	padding:50px 50px;
    margin-top: 40px;
    background: linear-gradient(135deg,#DC143C,#fff);
    border-radius: 40px;
    font-size: 40px;
}

legend{
	font-size:25px;
	font-weight:bold;
    margin-top: 100px;
}


#formStyle label {
  display: block;
  font-size:25px;
  float:left;
  margin-left:10px;
  font-weight: bold;
}




#formStyle  input[type= radio]{
  margin-bottom: 50px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  justify-content: space-between;
  margin-left:20px;
  outline:none;
}

/* #formStyle form{
	padding:15px;
	background-color: rgba(235, 54, 54, 0.4);
	font-size:14px;
	font-family:Verdana;
	color:black;
	margin: 50px;
	box-shadow:1px 1px 2px black, 0 0 25px black, 0 0 5px black;
	outline: none;
	border:none;
	
} */
#formStyle form{
	width:50%;
	align-items: center;
	position:center;
    border-radius: 60px;
}

    
    #formStyle  input[type= password],
    #formStyle input[type=text],
    #formStyle select{
      width: 100%;
      margin-bottom: 20px;
      padding: 12px;
      border: 2px solid #ccc;
      border-radius: 50px;
    }
    
    #formStyle input:active[type= password],
    #formStyle input:active[type=text],
    #formStyle select:active{
        border: 2px solid #808080;
        outline:none;
    }
    
    #formStyle  input[type= radio]{
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 3px;
      justify-content: space-between;
      margin-left:20px;
      outline:none;
    }
   
/* 
    #formStyle form{
        padding:20px;
        background-color: rgba(255, 255, 255,0.4);
        font-size:14px;
        font-family:Verdana;
        color:black;
        margin:20px;
        box-shadow:1px 1px 2px black, 0 0 25px black, 0 0 5px black;
        outline: none;
        border:none;
        
    } */
.Btn,
.Btn1,
.Btn2,
.Btn3,
.Btn4,
.Btn5{
	padding:20px 30px;
	font-size: 22px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color:#ccc(14, 13, 13);
  background-color: #c63636;
  border: none;
  border-radius: 30px;
  box-shadow: 0 9px rgb(229, 223, 223);
  margin-bottom:50px;
  margin-top:50px;
  margin-left:20px;
	
}

.Btn:active,
.Btn1:active,
.Btn3:active,
.Btn2:active,
.Btn4:active,
.Btn5:active{
	background-color: #500b32;
  box-shadow: 0 5px rgb(42, 40, 40);
  transform: translateY(4px);
}

.Btn1:hover
{
	background-color: #890e4c
}
.Btn1{
	float:right;
    font-weight: bold;
}



  
